<div class="country-info__header">
    <img src="{{flags.svg}}" alt="flag of {{name.official}}" width="50">
    <h1 class="country-info__title">{{name.official}}</h1>
</div>
<ul class="country-info__list">
    <li class="country-info__item"><span class="country-info__subtitle">Capital: </span> {{capital}}
    </li>
    <li class="country-info__item"><span class="country-info__subtitle">Population: </span> {{population}}
    </li>
    <li class="country-info__item"><span class="country-info__subtitle">Languages: </span> {{languageList}}
    </li>
</ul>